WebServiceCall/WebServiceConsoleCall/Web References/webReference/avavoip_gate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:AvaVoip" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:AvaVoip" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:AvaVoip">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="TypeArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CriteriaLatestAccountsList" />
      <xsd:complexType name="CriteriaAccountsByTransID">
        <xsd:all>
          <xsd:element name="TransactionId" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="CriteriaAccountsCampaigns">
        <xsd:all>
          <xsd:element name="AccountId" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="CriteriaAccountsCampaignsByTransID">
        <xsd:all>
          <xsd:element name="AccountId" type="xsd:int" />
          <xsd:element name="TransactionId" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="CriteriaLPCDR">
        <xsd:all>
          <xsd:element name="Date" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Response">
        <xsd:all>
          <xsd:element name="ErrorCode" type="xsd:string" />
          <xsd:element name="ErrorMessage" type="xsd:string" />
          <xsd:element name="TransID" type="xsd:string" />
          <xsd:element name="List" type="tns:TypeArray" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="LPCDR">
        <xsd:all>
          <xsd:element name="CallID" type="xsd:int" />
          <xsd:element name="CallingNumber" type="xsd:string" />
          <xsd:element name="CalledNumber" type="xsd:string" />
          <xsd:element name="CampaignNumber" type="xsd:string" />
          <xsd:element name="TimestampOfCall" type="xsd:string" />
          <xsd:element name="Duration" type="xsd:int" />
          <xsd:element name="Charge" type="xsd:float" />
          <xsd:element name="IVRFile" type="xsd:string" />
          <xsd:element name="DOB" type="xsd:string" />
          <xsd:element name="PrimaryPhone" type="xsd:string" />
          <xsd:element name="AccountId" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AccountCampaign">
        <xsd:all>
          <xsd:element name="AccountId" type="xsd:int" />
          <xsd:element name="CampaignName" type="xsd:string" />
          <xsd:element name="CampaignCallNumber" type="xsd:string" />
          <xsd:element name="ForwardedNumber" type="xsd:string" />
          <xsd:element name="CampaignProvider" type="xsd:string" />
          <xsd:element name="CampaignStatus" type="xsd:int" />
          <xsd:element name="Type" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="LPAccount">
        <xsd:all>
          <xsd:element name="AccountId" type="xsd:int" />
          <xsd:element name="FirstName" type="xsd:string" />
          <xsd:element name="LastName" type="xsd:string" />
          <xsd:element name="CompanyName" type="xsd:string" />
          <xsd:element name="Email" type="xsd:string" />
          <xsd:element name="Address" type="xsd:string" />
          <xsd:element name="City" type="xsd:string" />
          <xsd:element name="State" type="xsd:string" />
          <xsd:element name="Zip" type="xsd:string" />
          <xsd:element name="Phone" type="xsd:string" />
          <xsd:element name="LoginUsername" type="xsd:string" />
          <xsd:element name="LoginPassword" type="xsd:string" />
          <xsd:element name="Type" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Auth">
        <xsd:all>
          <xsd:element name="Username" type="xsd:string" />
          <xsd:element name="Password" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Appointmaster_GetLatestAccountsRequest">
    <wsdl:part name="param" type="tns:CriteriaLatestAccountsList" />
    <wsdl:part name="auth" type="tns:Auth" />
  </wsdl:message>
  <wsdl:message name="Appointmaster_GetLatestAccountsResponse">
    <wsdl:part name="return" type="tns:Response" />
  </wsdl:message>
  <wsdl:message name="Appointmaster_GetAccountsByTransIDRequest">
    <wsdl:part name="param" type="tns:CriteriaAccountsByTransID" />
    <wsdl:part name="auth" type="tns:Auth" />
  </wsdl:message>
  <wsdl:message name="Appointmaster_GetAccountsByTransIDResponse">
    <wsdl:part name="return" type="tns:Response" />
  </wsdl:message>
  <wsdl:message name="Appointmaster_GetAccountCampaignsRequest">
    <wsdl:part name="param" type="tns:CriteriaAccountsCampaigns" />
    <wsdl:part name="auth" type="tns:Auth" />
  </wsdl:message>
  <wsdl:message name="Appointmaster_GetAccountCampaignsResponse">
    <wsdl:part name="return" type="tns:Response" />
  </wsdl:message>
  <wsdl:message name="Appointmaster_GetAccountsCampaignsByTransIDRequest">
    <wsdl:part name="param" type="tns:CriteriaAccountsCampaignsByTransID" />
    <wsdl:part name="auth" type="tns:Auth" />
  </wsdl:message>
  <wsdl:message name="Appointmaster_GetAccountsCampaignsByTransIDResponse">
    <wsdl:part name="return" type="tns:Response" />
  </wsdl:message>
  <wsdl:message name="Appointmaster_GetCDRsRequest">
    <wsdl:part name="param" type="tns:CriteriaLPCDR" />
    <wsdl:part name="auth" type="tns:Auth" />
  </wsdl:message>
  <wsdl:message name="Appointmaster_GetCDRsResponse">
    <wsdl:part name="return" type="tns:Response" />
  </wsdl:message>
  <wsdl:portType name="AvaVoipPortType">
    <wsdl:operation name="Appointmaster_GetLatestAccounts">
      <documentation>Get latest accounts from local patient.</documentation>
      <wsdl:input message="tns:Appointmaster_GetLatestAccountsRequest" />
      <wsdl:output message="tns:Appointmaster_GetLatestAccountsResponse" />
    </wsdl:operation>
    <wsdl:operation name="Appointmaster_GetAccountsByTransID">
      <documentation>Get accounts from local patient by transaction id.</documentation>
      <wsdl:input message="tns:Appointmaster_GetAccountsByTransIDRequest" />
      <wsdl:output message="tns:Appointmaster_GetAccountsByTransIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="Appointmaster_GetAccountCampaigns">
      <documentation>Get latest accounts campaigns from local patient.</documentation>
      <wsdl:input message="tns:Appointmaster_GetAccountCampaignsRequest" />
      <wsdl:output message="tns:Appointmaster_GetAccountCampaignsResponse" />
    </wsdl:operation>
    <wsdl:operation name="Appointmaster_GetAccountsCampaignsByTransID">
      <documentation>Get accounts campaigns from local patient by transaction id.</documentation>
      <wsdl:input message="tns:Appointmaster_GetAccountsCampaignsByTransIDRequest" />
      <wsdl:output message="tns:Appointmaster_GetAccountsCampaignsByTransIDResponse" />
    </wsdl:operation>
    <wsdl:operation name="Appointmaster_GetCDRs">
      <documentation>Get CDRs.</documentation>
      <wsdl:input message="tns:Appointmaster_GetCDRsRequest" />
      <wsdl:output message="tns:Appointmaster_GetCDRsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AvaVoipBinding" type="tns:AvaVoipPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="Appointmaster_GetLatestAccounts">
      <soap:operation soapAction="urn:AvaVoip#Appointmaster_GetLatestAccounts" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AvaVoip" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AvaVoip" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Appointmaster_GetAccountsByTransID">
      <soap:operation soapAction="urn:AvaVoip#Appointmaster_GetAccountsByTransID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AvaVoip" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AvaVoip" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Appointmaster_GetAccountCampaigns">
      <soap:operation soapAction="urn:AvaVoip#Appointmaster_GetAccountCampaigns" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AvaVoip" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AvaVoip" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Appointmaster_GetAccountsCampaignsByTransID">
      <soap:operation soapAction="urn:AvaVoip#Appointmaster_GetAccountsCampaignsByTransID" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AvaVoip" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AvaVoip" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Appointmaster_GetCDRs">
      <soap:operation soapAction="urn:AvaVoip#Appointmaster_GetCDRs" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:AvaVoip" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:AvaVoip" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AvaVoip">
    <wsdl:port name="AvaVoipPort" binding="tns:AvaVoipBinding">
      <soap:address location="http://soap.appointmaster.my-online-check.com/avavoip_gate.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>