LPI/LPI.Dashboard/Web References/PROI_WS/ROIServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="version">
        <s:complexType />
      </s:element>
      <s:element name="versionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="versionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPracticeAccessKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataLinkuserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataLinkPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPracticeAccessKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPracticeAccessKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPracticeServerDirect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataLinkuserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataLinkPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPracticeServerDirectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPracticeServerDirectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPracticeServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="practiceAccessKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPracticeServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPracticeServerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPracticeWebServicesURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="practiceAccessKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPracticeWebServicesURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPracticeWebServicesURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPracticeData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="practiceAccessKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPracticeDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPracticeDataResult" type="tns:accountData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="accountData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="created" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="contact" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="notificationEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="website" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mainPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lastSync" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="nbSync" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="timeZone" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="software" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="nbRatings" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="nbReviews" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="reviewsUrl" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lastReview" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="loginURLonServer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="useReminder" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getPatientsWithAppointments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="practiceAccessKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="day" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPatientsWithAppointmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPatientsWithAppointmentsResult" type="tns:ArrayOfPatientMainContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPatientMainContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="patientMainContact" nillable="true" type="tns:patientMainContact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="patientMainContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="practiceId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="appointmentId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="homePhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cellPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="workPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="setPracticeData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="practiceAccessKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:accountDataWrite" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="accountDataWrite">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="status" type="tns:Status" />
          <s:element minOccurs="0" maxOccurs="1" name="contact" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="notificationEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="website" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mainPhone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="timeZone" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="software" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataLinkUserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataLinkPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userPassword" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Status">
        <s:restriction base="s:string">
          <s:enumeration value="Signup" />
          <s:enumeration value="Active" />
          <s:enumeration value="Desactivated" />
          <s:enumeration value="Archived" />
          <s:enumeration value="Demo" />
          <s:enumeration value="Test" />
          <s:enumeration value="VARRoot" />
        </s:restriction>
      </s:simpleType>
      <s:element name="setPracticeDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setPracticeDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createPractice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="practiceAccessKeys" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:accountDataWrite" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createPracticeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="createPracticeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getRoiPerPractice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DB" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="requests" type="tns:ArrayOfRoiRequestPerPractice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRoiRequestPerPractice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RoiRequestPerPractice" type="tns:RoiRequestPerPractice" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RoiRequestPerPractice">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RequestOrder" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="patientID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientFirstName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="patientBirthDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="patientAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientZIP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientPhone0" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientPhone1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientPhone2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientPhone3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientEmail0" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientEmail1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientEmail2" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getRoiPerPracticeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getRoiPerPracticeResult" type="tns:ArrayOfRoiReplyPerPractice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRoiReplyPerPractice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RoiReplyPerPractice" type="tns:RoiReplyPerPractice" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RoiReplyPerPractice">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RequestOrder" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="patientID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="treatments" type="tns:ArrayOfRoiTreatmentForPatient" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRoiTreatmentForPatient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RoiTreatmentForPatient" type="tns:RoiTreatmentForPatient" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RoiTreatmentForPatient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="apptId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="trtCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TreatmentPlan" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="testRoiReplyPerPractice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="db" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="phone0" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="patientName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="patientFirstName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="testRoiReplyPerPracticeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testRoiReplyPerPracticeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createRoiPractice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountData" type="tns:accountDataRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="accountDataRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contact" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="notificationEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="website" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mainPhone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="software" type="tns:DentalSoftware" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DentalSoftware">
        <s:restriction base="s:string">
          <s:enumeration value="EasyDental" />
          <s:enumeration value="Dentrix" />
          <s:enumeration value="MediSoft" />
          <s:enumeration value="Mogo" />
          <s:enumeration value="AppointMaster" />
          <s:enumeration value="TGI" />
          <s:enumeration value="MediFlex" />
          <s:enumeration value="Softdent" />
          <s:enumeration value="Platinum" />
          <s:enumeration value="TPS" />
          <s:enumeration value="ChiroSuite" />
          <s:enumeration value="AceDental" />
          <s:enumeration value="Orthotrac" />
          <s:enumeration value="EagleSoft" />
          <s:enumeration value="DentalVision" />
          <s:enumeration value="DSN" />
          <s:enumeration value="AbelDent" />
          <s:enumeration value="DentrixG5" />
          <s:enumeration value="EagleSoft16" />
          <s:enumeration value="MedisoftODBC" />
          <s:enumeration value="ClienTrax" />
          <s:enumeration value="Lytec" />
          <s:enumeration value="PracticeWorks" />
          <s:enumeration value="Softdent15" />
          <s:enumeration value="Ortho2" />
          <s:enumeration value="IMS" />
          <s:enumeration value="OPIE" />
          <s:enumeration value="MAXIMUM" />
        </s:restriction>
      </s:simpleType>
      <s:element name="createRoiPracticeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="createRoiPracticeResult" type="tns:accountDataReply" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="accountDataReply">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="dataLinkUserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataLinkPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="server" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="testCreatePracticeRoi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="DB" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="testCreatePracticeRoiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testCreatePracticeRoiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getreviewStatistic">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataLinkuserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataLinkPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getreviewStatisticResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getreviewStatisticResult" type="tns:reviewStatistic" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reviewStatistic">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="firstInvitationSentout" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="lastInvitationSentOut" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="firstReviewPosted" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="lastReviewPosted" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="nbInvitationsSent" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="nbSurveys" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="nbReviews" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="overallRating" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getreviewPostedPerPractice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataLinkuserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataLinkPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getreviewPostedPerPracticeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getreviewPostedPerPracticeResult" type="tns:ArrayOfReviewPosted" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReviewPosted">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="reviewPosted" nillable="true" type="tns:reviewPosted" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="reviewPosted">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="surveyId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientFirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="visitDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="posted" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="rating100" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="patientCheckedConfidential" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="flagged" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="review" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="confidential" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="setReviewFlag">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataLinkuserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataLinkPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reviewId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="flagged" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setReviewFlagResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setReviewFlagResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="whatIsMyIp">
        <s:complexType />
      </s:element>
      <s:element name="whatIsMyIpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="whatIsMyIpResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="accountData" nillable="true" type="tns:accountData" />
      <s:element name="ArrayOfPatientMainContact" nillable="true" type="tns:ArrayOfPatientMainContact" />
      <s:element name="reviewStatistic" nillable="true" type="tns:reviewStatistic" />
      <s:element name="ArrayOfReviewPosted" nillable="true" type="tns:ArrayOfReviewPosted" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="versionSoapIn">
    <wsdl:part name="parameters" element="tns:version" />
  </wsdl:message>
  <wsdl:message name="versionSoapOut">
    <wsdl:part name="parameters" element="tns:versionResponse" />
  </wsdl:message>
  <wsdl:message name="getPracticeAccessKeySoapIn">
    <wsdl:part name="parameters" element="tns:getPracticeAccessKey" />
  </wsdl:message>
  <wsdl:message name="getPracticeAccessKeySoapOut">
    <wsdl:part name="parameters" element="tns:getPracticeAccessKeyResponse" />
  </wsdl:message>
  <wsdl:message name="getPracticeServerDirectSoapIn">
    <wsdl:part name="parameters" element="tns:getPracticeServerDirect" />
  </wsdl:message>
  <wsdl:message name="getPracticeServerDirectSoapOut">
    <wsdl:part name="parameters" element="tns:getPracticeServerDirectResponse" />
  </wsdl:message>
  <wsdl:message name="getPracticeServerSoapIn">
    <wsdl:part name="parameters" element="tns:getPracticeServer" />
  </wsdl:message>
  <wsdl:message name="getPracticeServerSoapOut">
    <wsdl:part name="parameters" element="tns:getPracticeServerResponse" />
  </wsdl:message>
  <wsdl:message name="getPracticeWebServicesURLSoapIn">
    <wsdl:part name="parameters" element="tns:getPracticeWebServicesURL" />
  </wsdl:message>
  <wsdl:message name="getPracticeWebServicesURLSoapOut">
    <wsdl:part name="parameters" element="tns:getPracticeWebServicesURLResponse" />
  </wsdl:message>
  <wsdl:message name="getPracticeDataSoapIn">
    <wsdl:part name="parameters" element="tns:getPracticeData" />
  </wsdl:message>
  <wsdl:message name="getPracticeDataSoapOut">
    <wsdl:part name="parameters" element="tns:getPracticeDataResponse" />
  </wsdl:message>
  <wsdl:message name="getPatientsWithAppointmentsSoapIn">
    <wsdl:part name="parameters" element="tns:getPatientsWithAppointments" />
  </wsdl:message>
  <wsdl:message name="getPatientsWithAppointmentsSoapOut">
    <wsdl:part name="parameters" element="tns:getPatientsWithAppointmentsResponse" />
  </wsdl:message>
  <wsdl:message name="setPracticeDataSoapIn">
    <wsdl:part name="parameters" element="tns:setPracticeData" />
  </wsdl:message>
  <wsdl:message name="setPracticeDataSoapOut">
    <wsdl:part name="parameters" element="tns:setPracticeDataResponse" />
  </wsdl:message>
  <wsdl:message name="createPracticeSoapIn">
    <wsdl:part name="parameters" element="tns:createPractice" />
  </wsdl:message>
  <wsdl:message name="createPracticeSoapOut">
    <wsdl:part name="parameters" element="tns:createPracticeResponse" />
  </wsdl:message>
  <wsdl:message name="getRoiPerPracticeSoapIn">
    <wsdl:part name="parameters" element="tns:getRoiPerPractice" />
  </wsdl:message>
  <wsdl:message name="getRoiPerPracticeSoapOut">
    <wsdl:part name="parameters" element="tns:getRoiPerPracticeResponse" />
  </wsdl:message>
  <wsdl:message name="testRoiReplyPerPracticeSoapIn">
    <wsdl:part name="parameters" element="tns:testRoiReplyPerPractice" />
  </wsdl:message>
  <wsdl:message name="testRoiReplyPerPracticeSoapOut">
    <wsdl:part name="parameters" element="tns:testRoiReplyPerPracticeResponse" />
  </wsdl:message>
  <wsdl:message name="createRoiPracticeSoapIn">
    <wsdl:part name="parameters" element="tns:createRoiPractice" />
  </wsdl:message>
  <wsdl:message name="createRoiPracticeSoapOut">
    <wsdl:part name="parameters" element="tns:createRoiPracticeResponse" />
  </wsdl:message>
  <wsdl:message name="testCreatePracticeRoiSoapIn">
    <wsdl:part name="parameters" element="tns:testCreatePracticeRoi" />
  </wsdl:message>
  <wsdl:message name="testCreatePracticeRoiSoapOut">
    <wsdl:part name="parameters" element="tns:testCreatePracticeRoiResponse" />
  </wsdl:message>
  <wsdl:message name="getreviewStatisticSoapIn">
    <wsdl:part name="parameters" element="tns:getreviewStatistic" />
  </wsdl:message>
  <wsdl:message name="getreviewStatisticSoapOut">
    <wsdl:part name="parameters" element="tns:getreviewStatisticResponse" />
  </wsdl:message>
  <wsdl:message name="getreviewPostedPerPracticeSoapIn">
    <wsdl:part name="parameters" element="tns:getreviewPostedPerPractice" />
  </wsdl:message>
  <wsdl:message name="getreviewPostedPerPracticeSoapOut">
    <wsdl:part name="parameters" element="tns:getreviewPostedPerPracticeResponse" />
  </wsdl:message>
  <wsdl:message name="setReviewFlagSoapIn">
    <wsdl:part name="parameters" element="tns:setReviewFlag" />
  </wsdl:message>
  <wsdl:message name="setReviewFlagSoapOut">
    <wsdl:part name="parameters" element="tns:setReviewFlagResponse" />
  </wsdl:message>
  <wsdl:message name="whatIsMyIpSoapIn">
    <wsdl:part name="parameters" element="tns:whatIsMyIp" />
  </wsdl:message>
  <wsdl:message name="whatIsMyIpSoapOut">
    <wsdl:part name="parameters" element="tns:whatIsMyIpResponse" />
  </wsdl:message>
  <wsdl:message name="versionHttpGetIn" />
  <wsdl:message name="versionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeAccessKeyHttpGetIn">
    <wsdl:part name="dataLinkuserId" type="s:string" />
    <wsdl:part name="dataLinkPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeAccessKeyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeServerDirectHttpGetIn">
    <wsdl:part name="dataLinkuserId" type="s:string" />
    <wsdl:part name="dataLinkPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeServerDirectHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeServerHttpGetIn">
    <wsdl:part name="practiceAccessKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeServerHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeWebServicesURLHttpGetIn">
    <wsdl:part name="practiceAccessKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeWebServicesURLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeDataHttpGetIn">
    <wsdl:part name="practiceAccessKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeDataHttpGetOut">
    <wsdl:part name="Body" element="tns:accountData" />
  </wsdl:message>
  <wsdl:message name="getPatientsWithAppointmentsHttpGetIn">
    <wsdl:part name="practiceAccessKey" type="s:string" />
    <wsdl:part name="day" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPatientsWithAppointmentsHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfPatientMainContact" />
  </wsdl:message>
  <wsdl:message name="testRoiReplyPerPracticeHttpGetIn">
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="db" type="s:string" />
    <wsdl:part name="phone0" type="s:string" />
    <wsdl:part name="phone1" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="patientName" type="s:string" />
    <wsdl:part name="patientFirstName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="testRoiReplyPerPracticeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="testCreatePracticeRoiHttpGetIn">
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="DB" type="s:string" />
  </wsdl:message>
  <wsdl:message name="testCreatePracticeRoiHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getreviewStatisticHttpGetIn">
    <wsdl:part name="dataLinkuserId" type="s:string" />
    <wsdl:part name="dataLinkPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getreviewStatisticHttpGetOut">
    <wsdl:part name="Body" element="tns:reviewStatistic" />
  </wsdl:message>
  <wsdl:message name="getreviewPostedPerPracticeHttpGetIn">
    <wsdl:part name="dataLinkuserId" type="s:string" />
    <wsdl:part name="dataLinkPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getreviewPostedPerPracticeHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfReviewPosted" />
  </wsdl:message>
  <wsdl:message name="setReviewFlagHttpGetIn">
    <wsdl:part name="dataLinkuserId" type="s:string" />
    <wsdl:part name="dataLinkPassword" type="s:string" />
    <wsdl:part name="reviewId" type="s:string" />
    <wsdl:part name="flagged" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setReviewFlagHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="whatIsMyIpHttpGetIn" />
  <wsdl:message name="whatIsMyIpHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="versionHttpPostIn" />
  <wsdl:message name="versionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeAccessKeyHttpPostIn">
    <wsdl:part name="dataLinkuserId" type="s:string" />
    <wsdl:part name="dataLinkPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeAccessKeyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeServerDirectHttpPostIn">
    <wsdl:part name="dataLinkuserId" type="s:string" />
    <wsdl:part name="dataLinkPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeServerDirectHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeServerHttpPostIn">
    <wsdl:part name="practiceAccessKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeServerHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeWebServicesURLHttpPostIn">
    <wsdl:part name="practiceAccessKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeWebServicesURLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeDataHttpPostIn">
    <wsdl:part name="practiceAccessKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPracticeDataHttpPostOut">
    <wsdl:part name="Body" element="tns:accountData" />
  </wsdl:message>
  <wsdl:message name="getPatientsWithAppointmentsHttpPostIn">
    <wsdl:part name="practiceAccessKey" type="s:string" />
    <wsdl:part name="day" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPatientsWithAppointmentsHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPatientMainContact" />
  </wsdl:message>
  <wsdl:message name="testRoiReplyPerPracticeHttpPostIn">
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="db" type="s:string" />
    <wsdl:part name="phone0" type="s:string" />
    <wsdl:part name="phone1" type="s:string" />
    <wsdl:part name="email" type="s:string" />
    <wsdl:part name="patientName" type="s:string" />
    <wsdl:part name="patientFirstName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="testRoiReplyPerPracticeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="testCreatePracticeRoiHttpPostIn">
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="DB" type="s:string" />
  </wsdl:message>
  <wsdl:message name="testCreatePracticeRoiHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getreviewStatisticHttpPostIn">
    <wsdl:part name="dataLinkuserId" type="s:string" />
    <wsdl:part name="dataLinkPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getreviewStatisticHttpPostOut">
    <wsdl:part name="Body" element="tns:reviewStatistic" />
  </wsdl:message>
  <wsdl:message name="getreviewPostedPerPracticeHttpPostIn">
    <wsdl:part name="dataLinkuserId" type="s:string" />
    <wsdl:part name="dataLinkPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getreviewPostedPerPracticeHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfReviewPosted" />
  </wsdl:message>
  <wsdl:message name="setReviewFlagHttpPostIn">
    <wsdl:part name="dataLinkuserId" type="s:string" />
    <wsdl:part name="dataLinkPassword" type="s:string" />
    <wsdl:part name="reviewId" type="s:string" />
    <wsdl:part name="flagged" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setReviewFlagHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="whatIsMyIpHttpPostIn" />
  <wsdl:message name="whatIsMyIpHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ROIServicesSoap">
    <wsdl:operation name="version">
      <wsdl:input message="tns:versionSoapIn" />
      <wsdl:output message="tns:versionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPracticeAccessKey">
      <wsdl:input message="tns:getPracticeAccessKeySoapIn" />
      <wsdl:output message="tns:getPracticeAccessKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPracticeServerDirect">
      <wsdl:input message="tns:getPracticeServerDirectSoapIn" />
      <wsdl:output message="tns:getPracticeServerDirectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPracticeServer">
      <wsdl:input message="tns:getPracticeServerSoapIn" />
      <wsdl:output message="tns:getPracticeServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPracticeWebServicesURL">
      <wsdl:input message="tns:getPracticeWebServicesURLSoapIn" />
      <wsdl:output message="tns:getPracticeWebServicesURLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPracticeData">
      <wsdl:input message="tns:getPracticeDataSoapIn" />
      <wsdl:output message="tns:getPracticeDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPatientsWithAppointments">
      <wsdl:input message="tns:getPatientsWithAppointmentsSoapIn" />
      <wsdl:output message="tns:getPatientsWithAppointmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setPracticeData">
      <wsdl:input message="tns:setPracticeDataSoapIn" />
      <wsdl:output message="tns:setPracticeDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createPractice">
      <wsdl:input message="tns:createPracticeSoapIn" />
      <wsdl:output message="tns:createPracticeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getRoiPerPractice">
      <wsdl:input message="tns:getRoiPerPracticeSoapIn" />
      <wsdl:output message="tns:getRoiPerPracticeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="testRoiReplyPerPractice">
      <wsdl:input message="tns:testRoiReplyPerPracticeSoapIn" />
      <wsdl:output message="tns:testRoiReplyPerPracticeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="createRoiPractice">
      <wsdl:input message="tns:createRoiPracticeSoapIn" />
      <wsdl:output message="tns:createRoiPracticeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="testCreatePracticeRoi">
      <wsdl:input message="tns:testCreatePracticeRoiSoapIn" />
      <wsdl:output message="tns:testCreatePracticeRoiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getreviewStatistic">
      <wsdl:input message="tns:getreviewStatisticSoapIn" />
      <wsdl:output message="tns:getreviewStatisticSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getreviewPostedPerPractice">
      <wsdl:input message="tns:getreviewPostedPerPracticeSoapIn" />
      <wsdl:output message="tns:getreviewPostedPerPracticeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setReviewFlag">
      <wsdl:input message="tns:setReviewFlagSoapIn" />
      <wsdl:output message="tns:setReviewFlagSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="whatIsMyIp">
      <wsdl:input message="tns:whatIsMyIpSoapIn" />
      <wsdl:output message="tns:whatIsMyIpSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ROIServicesHttpGet">
    <wsdl:operation name="version">
      <wsdl:input message="tns:versionHttpGetIn" />
      <wsdl:output message="tns:versionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPracticeAccessKey">
      <wsdl:input message="tns:getPracticeAccessKeyHttpGetIn" />
      <wsdl:output message="tns:getPracticeAccessKeyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPracticeServerDirect">
      <wsdl:input message="tns:getPracticeServerDirectHttpGetIn" />
      <wsdl:output message="tns:getPracticeServerDirectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPracticeServer">
      <wsdl:input message="tns:getPracticeServerHttpGetIn" />
      <wsdl:output message="tns:getPracticeServerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPracticeWebServicesURL">
      <wsdl:input message="tns:getPracticeWebServicesURLHttpGetIn" />
      <wsdl:output message="tns:getPracticeWebServicesURLHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPracticeData">
      <wsdl:input message="tns:getPracticeDataHttpGetIn" />
      <wsdl:output message="tns:getPracticeDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPatientsWithAppointments">
      <wsdl:input message="tns:getPatientsWithAppointmentsHttpGetIn" />
      <wsdl:output message="tns:getPatientsWithAppointmentsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="testRoiReplyPerPractice">
      <wsdl:input message="tns:testRoiReplyPerPracticeHttpGetIn" />
      <wsdl:output message="tns:testRoiReplyPerPracticeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="testCreatePracticeRoi">
      <wsdl:input message="tns:testCreatePracticeRoiHttpGetIn" />
      <wsdl:output message="tns:testCreatePracticeRoiHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getreviewStatistic">
      <wsdl:input message="tns:getreviewStatisticHttpGetIn" />
      <wsdl:output message="tns:getreviewStatisticHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getreviewPostedPerPractice">
      <wsdl:input message="tns:getreviewPostedPerPracticeHttpGetIn" />
      <wsdl:output message="tns:getreviewPostedPerPracticeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="setReviewFlag">
      <wsdl:input message="tns:setReviewFlagHttpGetIn" />
      <wsdl:output message="tns:setReviewFlagHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="whatIsMyIp">
      <wsdl:input message="tns:whatIsMyIpHttpGetIn" />
      <wsdl:output message="tns:whatIsMyIpHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ROIServicesHttpPost">
    <wsdl:operation name="version">
      <wsdl:input message="tns:versionHttpPostIn" />
      <wsdl:output message="tns:versionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPracticeAccessKey">
      <wsdl:input message="tns:getPracticeAccessKeyHttpPostIn" />
      <wsdl:output message="tns:getPracticeAccessKeyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPracticeServerDirect">
      <wsdl:input message="tns:getPracticeServerDirectHttpPostIn" />
      <wsdl:output message="tns:getPracticeServerDirectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPracticeServer">
      <wsdl:input message="tns:getPracticeServerHttpPostIn" />
      <wsdl:output message="tns:getPracticeServerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPracticeWebServicesURL">
      <wsdl:input message="tns:getPracticeWebServicesURLHttpPostIn" />
      <wsdl:output message="tns:getPracticeWebServicesURLHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPracticeData">
      <wsdl:input message="tns:getPracticeDataHttpPostIn" />
      <wsdl:output message="tns:getPracticeDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPatientsWithAppointments">
      <wsdl:input message="tns:getPatientsWithAppointmentsHttpPostIn" />
      <wsdl:output message="tns:getPatientsWithAppointmentsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="testRoiReplyPerPractice">
      <wsdl:input message="tns:testRoiReplyPerPracticeHttpPostIn" />
      <wsdl:output message="tns:testRoiReplyPerPracticeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="testCreatePracticeRoi">
      <wsdl:input message="tns:testCreatePracticeRoiHttpPostIn" />
      <wsdl:output message="tns:testCreatePracticeRoiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getreviewStatistic">
      <wsdl:input message="tns:getreviewStatisticHttpPostIn" />
      <wsdl:output message="tns:getreviewStatisticHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getreviewPostedPerPractice">
      <wsdl:input message="tns:getreviewPostedPerPracticeHttpPostIn" />
      <wsdl:output message="tns:getreviewPostedPerPracticeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="setReviewFlag">
      <wsdl:input message="tns:setReviewFlagHttpPostIn" />
      <wsdl:output message="tns:setReviewFlagHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="whatIsMyIp">
      <wsdl:input message="tns:whatIsMyIpHttpPostIn" />
      <wsdl:output message="tns:whatIsMyIpHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ROIServicesSoap" type="tns:ROIServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="version">
      <soap:operation soapAction="http://tempuri.org/version" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeAccessKey">
      <soap:operation soapAction="http://tempuri.org/getPracticeAccessKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeServerDirect">
      <soap:operation soapAction="http://tempuri.org/getPracticeServerDirect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeServer">
      <soap:operation soapAction="http://tempuri.org/getPracticeServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeWebServicesURL">
      <soap:operation soapAction="http://tempuri.org/getPracticeWebServicesURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeData">
      <soap:operation soapAction="http://tempuri.org/getPracticeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientsWithAppointments">
      <soap:operation soapAction="http://tempuri.org/getPatientsWithAppointments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPracticeData">
      <soap:operation soapAction="http://tempuri.org/setPracticeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPractice">
      <soap:operation soapAction="http://tempuri.org/createPractice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoiPerPractice">
      <soap:operation soapAction="http://tempuri.org/getRoiPerPractice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testRoiReplyPerPractice">
      <soap:operation soapAction="http://tempuri.org/testRoiReplyPerPractice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createRoiPractice">
      <soap:operation soapAction="http://tempuri.org/createRoiPractice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testCreatePracticeRoi">
      <soap:operation soapAction="http://tempuri.org/testCreatePracticeRoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getreviewStatistic">
      <soap:operation soapAction="http://tempuri.org/getreviewStatistic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getreviewPostedPerPractice">
      <soap:operation soapAction="http://tempuri.org/getreviewPostedPerPractice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setReviewFlag">
      <soap:operation soapAction="http://tempuri.org/setReviewFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="whatIsMyIp">
      <soap:operation soapAction="http://tempuri.org/whatIsMyIp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ROIServicesSoap12" type="tns:ROIServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="version">
      <soap12:operation soapAction="http://tempuri.org/version" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeAccessKey">
      <soap12:operation soapAction="http://tempuri.org/getPracticeAccessKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeServerDirect">
      <soap12:operation soapAction="http://tempuri.org/getPracticeServerDirect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeServer">
      <soap12:operation soapAction="http://tempuri.org/getPracticeServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeWebServicesURL">
      <soap12:operation soapAction="http://tempuri.org/getPracticeWebServicesURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeData">
      <soap12:operation soapAction="http://tempuri.org/getPracticeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientsWithAppointments">
      <soap12:operation soapAction="http://tempuri.org/getPatientsWithAppointments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPracticeData">
      <soap12:operation soapAction="http://tempuri.org/setPracticeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPractice">
      <soap12:operation soapAction="http://tempuri.org/createPractice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRoiPerPractice">
      <soap12:operation soapAction="http://tempuri.org/getRoiPerPractice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testRoiReplyPerPractice">
      <soap12:operation soapAction="http://tempuri.org/testRoiReplyPerPractice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createRoiPractice">
      <soap12:operation soapAction="http://tempuri.org/createRoiPractice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testCreatePracticeRoi">
      <soap12:operation soapAction="http://tempuri.org/testCreatePracticeRoi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getreviewStatistic">
      <soap12:operation soapAction="http://tempuri.org/getreviewStatistic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getreviewPostedPerPractice">
      <soap12:operation soapAction="http://tempuri.org/getreviewPostedPerPractice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setReviewFlag">
      <soap12:operation soapAction="http://tempuri.org/setReviewFlag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="whatIsMyIp">
      <soap12:operation soapAction="http://tempuri.org/whatIsMyIp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ROIServicesHttpGet" type="tns:ROIServicesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="version">
      <http:operation location="/version" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeAccessKey">
      <http:operation location="/getPracticeAccessKey" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeServerDirect">
      <http:operation location="/getPracticeServerDirect" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeServer">
      <http:operation location="/getPracticeServer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeWebServicesURL">
      <http:operation location="/getPracticeWebServicesURL" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeData">
      <http:operation location="/getPracticeData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientsWithAppointments">
      <http:operation location="/getPatientsWithAppointments" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testRoiReplyPerPractice">
      <http:operation location="/testRoiReplyPerPractice" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testCreatePracticeRoi">
      <http:operation location="/testCreatePracticeRoi" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getreviewStatistic">
      <http:operation location="/getreviewStatistic" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getreviewPostedPerPractice">
      <http:operation location="/getreviewPostedPerPractice" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setReviewFlag">
      <http:operation location="/setReviewFlag" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="whatIsMyIp">
      <http:operation location="/whatIsMyIp" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ROIServicesHttpPost" type="tns:ROIServicesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="version">
      <http:operation location="/version" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeAccessKey">
      <http:operation location="/getPracticeAccessKey" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeServerDirect">
      <http:operation location="/getPracticeServerDirect" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeServer">
      <http:operation location="/getPracticeServer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeWebServicesURL">
      <http:operation location="/getPracticeWebServicesURL" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPracticeData">
      <http:operation location="/getPracticeData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientsWithAppointments">
      <http:operation location="/getPatientsWithAppointments" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testRoiReplyPerPractice">
      <http:operation location="/testRoiReplyPerPractice" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testCreatePracticeRoi">
      <http:operation location="/testCreatePracticeRoi" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getreviewStatistic">
      <http:operation location="/getreviewStatistic" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getreviewPostedPerPractice">
      <http:operation location="/getreviewPostedPerPractice" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setReviewFlag">
      <http:operation location="/setReviewFlag" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="whatIsMyIp">
      <http:operation location="/whatIsMyIp" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ROIServices">
    <wsdl:port name="ROIServicesSoap" binding="tns:ROIServicesSoap">
      <soap:address location="https://lpi.appointmaster.com/PROIadmin/ROIServices.asmx" />
    </wsdl:port>
    <wsdl:port name="ROIServicesSoap12" binding="tns:ROIServicesSoap12">
      <soap12:address location="https://lpi.appointmaster.com/PROIadmin/ROIServices.asmx" />
    </wsdl:port>
    <wsdl:port name="ROIServicesHttpGet" binding="tns:ROIServicesHttpGet">
      <http:address location="https://lpi.appointmaster.com/PROIadmin/ROIServices.asmx" />
    </wsdl:port>
    <wsdl:port name="ROIServicesHttpPost" binding="tns:ROIServicesHttpPost">
      <http:address location="https://lpi.appointmaster.com/PROIadmin/ROIServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>